.section {
  margin-top: 71px;
}

.title_container {
  margin-bottom: 44px;
}

.section_title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1;
}

.see_more {
  color: var(--rose700);
  gap: 8px;
}

.see_more a {
  color: var(--rose700);
  font-size: 18px;
  font-weight: 400;
}

.movieCard_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-columns: auto;
  row-gap: 103px;
  column-gap: auto;
  margin-inline: auto;
}

.movie_card {
  width: 250px;
  gap: 12px;
}

.poster_container {
  position: relative;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    var(--background-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 250px;
  height: 370px;
}

.icon_container {
  position: absolute;
  top: 0;
  width: 100%;
}

.series {
  width: 72px;
  padding: 3px 8px;

  font-weight: 500;

  background-color: rgba(243, 244, 246, 0.5);
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border-radius: 12px;
}

.heart_con {
  background-color: var(--background-col);
  background-color: var(--transparent);
  width: 30px;
  height: 30px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  border-radius: 50%;
  z-index: 10;
}

.heartIcon {
  color: var(--rose700);
}

.release_date {
  color: var(--gray400);
  font-weight: 600;
}

.movie_title {
  font-size: 18px;
}

@media screen and (width < 628px) {
  .section_title {
    font-size: 1.5rem;
  }

  .movie_card {
    width: 100%;
    height: auto;
  }
  .movieCard_container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }
}
