.footer {
  margin: 100px 0 73px 0;
}

.footer_container {
  gap: 36px;
}

a {
  color: var(--black);
  font-size: clamp(0.7rem, 3.5vw, 1rem);
}

.socials_container {
  gap: 48px;
}

.footer_link {
  gap: 48px;
}

@media screen and (width < 600px) {
  .footer_link {
    gap: 1rem;
  }
}
